body{
    background-image: url(img/fundo.png)
}


#caros{
    height: 45%;  
    width: 45%;  
    position:relative;
    top:5%;
    left: 30%;
    padding: 0px;
    border: 10px solid black;
    border-radius: 15px 20px;
  

}

